<section class="mt-5 pb-5">
    <div class="text-center p-5">
        <h1>Welcome, Let's count your last coins &#128181</h1>
        <p>Let's spend all your money &#129297</p>
    </div>
</section>

<footer class=" fixed-bottom btn-lg btn-block bg-light">
    <div class="container-fluid  py-3">
        <div class="row justify-content-center">
            <div class="btn btn-primary btn-lg btn-block">
                <%= link_to "Sign In", new_user_session_path, class:"btn btn-primary btn-lg btn-block mb-2" %>
            </div>
            <div class="btn btn-light btn-lg btn-block">
                <%= link_to "Sign Up", new_user_registration_path, class:"btn btn-light btn-lg btn-block" %>
            </div>
        </div>
    </div>
</footer>
